[2019-02-12 17:02] smaharj1 opened #10 "Change response headers to find fix for Safari"
Safari doesn't share the cookies right now. Add the allowed headers specific to safari to check if it works.

[2019-03-17 01:20] Viveckh opened #5 "Carousel Design for Product Details - Phone View"

[2019-03-17 01:21] Viveckh opened #8 "Carousel Design Option for Home Page"

[2019-03-17 01:44] Viveckh opened #3 "External Links - Footer"
Now that we have an official facebook and instagram page, so lets add them to footer. Also, maybe need to make the footer slightly different in terms of styling so it doesn't look exactly like a part of the rest of the page.

[2019-03-17 22:31] Viveckh opened #1 "Categories Menu in Phone View"

[2020-02-07 23:05] smaharj1 opened #51 "mgmt-web/fix-lints"
Fix the lint errors in management-webclient project.

You can see the lint errors running `npm run lint`.

Run `npm run lint --fix` before you start fixing the errors.

[2020-02-07 23:09] smaharj1 opened #52 "client-web/fix-lint"
Fix linting errors. Find out the errors that are currently there by running `npm run lint`.

Try `npm run lint --fix` first to save some work

[2020-02-07 23:14] smaharj1 opened #53 "mgmt-server/JOI-validation"
Implement JOI validation in management-server. Add validation to each endpoint that is accepting the request body.

[2020-02-07 23:19] smaharj1 opened #54 "Shopping-server/JOI-validation"
Implement JOI and implement the validation in all the endpoints

[2020-02-09 21:28] smaharj1 opened #61 "Add roles for each feature"
Add the roles in `roles.json` for edit/view modes for each of features:
-Tariff
- Category Settings

[2020-02-09 23:25] #61 closed

[2020-02-20 02:49] #51 closed

[2020-02-20 03:44] #52 closed

[2020-02-20 03:46] Viveckh opened #73 "Google Analytics Support on Shopping WebClient"

[2020-02-20 04:27] #73 closed

[2020-02-23 21:43] connecteev opened #82 "Allow add to cart and checkout without login / signup"
This is pretty basic for any ecommerce store (like Shopify) - I should be able to purchase an item without having to create an account or log in

[2020-02-27 16:19] smaharj1 commented on #82
Thanks. We will be working on this shortly.

[2020-03-03 16:56] myminseok opened #87 "how to setup admin accounts"
Hi, this artifact is pretty nice work!. I tried to run this, but wonders how to set up admin accounts?
I tracked the source code and it might be around on mongodb collections. but not sure how what exact schema is.
 Please give some hints on documentations

[2020-03-06 00:35] smaharj1 opened #88 "Make a single platform dockerized solution for local development"
Create the `docker-compose` so that local development is easier and it is no longer pointed to our DEV mongo and redis.

Eventually, the application should be completely independent of any remote calls (like s3)

[2020-03-06 15:42] myminseok opened #90 "how to debug management-server"
Hi, I am new on this.
I would like to debug 'management-server' logs, but not much logs on stdout.
could you please let me know how to print out debug logs to stdout?
I would like to debug what causes errors when login admin to management-server.

[2020-03-07 22:11] #88 closed

[2020-03-08 00:49] Viveckh commented on #90
Hi there,
The logs are all piped to files in `/logging/logs` folder.
Additionally, the error logs are also stored in the MongoDB database.
You can configure the file names and collection name in the [config files here.](https://github.com/Viveckh/Veniqa/tree/develop/management-server/config)

Also, you can modify the default logging behavior if you want to see everything in the console by modifyin

[2020-04-18 07:38] xtermsoft opened #94 "How to star the whole platform"
I am trying to start the shopping server and I keep getting the following error

[code]
I am quite new to vue and node. Could you please help me out with how to boot up your entire platform?

Thanks.

[2020-04-18 14:46] xtermsoft commented on #94
So what I did is copied the .env.development file from the web-client folder and pasted it in the server directory and it worked.

[2020-04-18 14:48] xtermsoft commented on #94
I am now getting a DB error

[code]

Which file do I enter the mongoDB credentials and the API keys. I am sorry but I am really confused.

Thanks.

[2020-04-18 15:56] #94 closed

[2020-04-18 15:59] xtermsoft commented on #87
How do I create new admins for the management dashboard? I have the platform up and running however I am unsure as to how to create these new users.

[2020-04-18 22:00] Viveckh commented on #87
If you navigate to the `Users Setting` section of the admin dashboard, you should see a `+ADMINS` button at the top right section of the page. You can use the form to create new admins and assign them granular permissions.  [](url)
![Screen Shot 2020-04-18 at 5 58 36 PM](https://user-images.githubusercontent.com/9113166/79672258-4d4e1480-819e-11ea-9007-29859967e7e7.png)

[2020-04-19 07:27] xtermsoft commented on #87
I am not able to log into the admin panel itself. I am running the whole stack locally. In the browser dev console, it says error connecting with localhost:4202.I have attached the screenshot of the same.
<img width="766" alt="Screenshot 2020-04-19 at 12 46 16 PM" src="https://user-images.githubusercontent.com/23535062/79681916-db2c0d00-823b-11ea-9b33-eacb81c08728.png">

What is running on port 42

[2020-04-19 09:30] xtermsoft commented on #87
That along with a but load of Express + DB errors
<img width="611" alt="Screenshot 2020-04-19 at 2 59 35 PM" src="https://user-images.githubusercontent.com/23535062/79684379-6ca47a80-824e-11ea-8a19-2e7ed4df6e68.png">

Please guide me as I am really new to this framework. Thanks.

[2020-04-19 14:12] smaharj1 commented on #87
Please look into creating [environment files section](https://documentation.veniqa.com/servers/environment-file-format.html) in the documentation to create the `.env.development` file in the root of both of the server directories i.e. `/management-server` and `/shopping-server`. In the folders, you should already see a `.env.format` file that holds the format of the environment file.

The server i

[2020-04-19 14:13] smaharj1 opened #96 "Express app hot reloading issue in docker"
That along with a but load of Express + DB errors
<img width="611" alt="Screenshot 2020-04-19 at 2 59 35 PM" src="https://user-images.githubusercontent.com/23535062/79684379-6ca47a80-824e-11ea-8a19-2e7ed4df6e68.png">

Please guide me as I am really new to this framework. Thanks.

_Originally posted by @xtermsoft in https://github.com/Viveckh/Veniqa/issues/87#issuecomment-616085840_

[2020-04-19 14:16] smaharj1 commented on #87
I have created an issue for this. This is an issue of hot-reloading the servers in docker. We are looking into this issue. However, this should not stop your server. Master worker will still work and the request to your request (localhost:4202) will still be fetched.

Workaround:
[code]

[2020-04-20 00:35] smaharj1 commented on #87
Closing this since the issues were resolved.

[2020-04-20 00:35] #87 closed

[2020-04-20 13:30] xtermsoft opened #98 "CORS + Sockets for Authentication"
**Describe the bug**
While running the entire stack, post filling up the values in`.evn.development` file, the whole stack loaded up, however, when an attempt is made to log into the admin dashboard, there is a CORS restriction. Please refer to the screenshot below.

**To Reproduce**
Steps to reproduce the behavior:
1. `docker-compose up`
2. Navigate to  http://localhost:5202/
3. login with any cr

[2020-04-20 13:43] smaharj1 commented on #98
The CORS error is happening because your admin dashboard (localhost:5202) is trying to send a login request to shopping-server (localhost:4201). In your `/management-webclient`, it seems like you changed the base URL in `.env` files. Please put the base URL to be

`VUE_APP_API_BASE_URL=http://localhost:4202/`

@Viveckh can you give more info on creds.

[2020-04-21 01:20] #90 closed

[2020-04-21 21:33] Viveckh commented on #87
We just pushed some updates related to the docker setup. If you refer to the [Docker Setup Guide](https://documentation.veniqa.com/dockersetup/dockersetup.html), it should answer your question in regards to the default admin user.

[2020-04-23 03:02] smaharj1 commented on #98
Closing this issue @xtermsoft since the new changes should resolve your problems.

[2020-04-23 03:02] #98 closed

[2020-04-28 20:56] dileepponna opened #102 "I couldn't find the add product option...."
any idea?

[2020-04-28 22:20] smaharj1 commented on #102
Can you give more info? screenshots?

[2020-04-30 17:36] Viveckh commented on #1
Not sure why I even created this, cause the menu works fine.

[2020-04-30 17:36] #1 closed

[2020-04-30 17:38] Viveckh commented on #3
Now that it is open-sourced, we shouldn't be adding more Veniqa-as-a-company specific content

[2020-04-30 17:38] #3 closed

[2020-04-30 17:40] Viveckh commented on #5
Existing product details view is functioning well, so again idk why I was wishing this.

[2020-04-30 17:40] #5 closed

[2020-04-30 17:42] #8 closed

[2020-05-01 06:44] xtermsoft commented on #98
@smaharj1 @Viveckh I am reopening this issue since the following credentials seems to be incorrect:

Username: demo@veniqa.com
Password: pass$12

Please refer to the screenshot attached. Also, what's up with the socket connections being refused? I made the change to `/management-webclient` and `/management-server`as mentioned in @smaharj1 's comment above. Thanks for all your help.

<img width="10

[2020-05-01 16:05] smaharj1 commented on #98
Have you tried deleting the mongo docket images and containers? And did you pull the latest?

I’ll look into socket error in a bit

[2020-05-02 09:27] gfyre commented on #98
Alright, so I deleted all all the old containers and installed the latest version. Now I am able to log in, however there are a few issues:

1. I keep on getting logged out of the dashboard. After some time, it just doesn't allow me to do anything and refreshing the page logs me out.

2. When adding arrays to the product page, the array window is not readable (please refer to the screenshot)

3. I

[2020-05-03 05:36] smaharj1 opened #105 "BUG: sockjs-node issue"
**Describe the bug**
sockjs-node gives ERR_CONNECTION_REFUSED in local build

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'localhost:5202'
2. Go to Inspect Elements
3. Go to console

**Expected behavior**
There should not be a sockjs error

**Desktop (please complete the following information):**
- Chrome

**Additional context**
Tied to #98

[2020-05-03 05:38] smaharj1 opened #106 "BUG: Attribute modal not working properly"
**Describe the bug**
There was a bug with attribute modal in mgmt server not displaying properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'localhost:5202'
2. Login
3. Click on 'Add Catalog'
4. Click on 'Add Attributes'

**Expected behavior**
There should be no weird display

**Desktop (please complete the following information):**
 - Chrome

**Additional context**
Tied to #98

[2020-05-03 06:10] smaharj1 commented on #98
@xtermsoft

1. You get logged out after some inactive time. It is intended.

2. The fix is out there. #107 Thank you for bringing that up.

3. For S3, you will have to point it to your own S3 buckets. We can't give the bucket access for local development. You need to create your buckets and update the info in `management-server/config.json`. Then, you'd need to update the URL in `.env` file in `ma

[2020-05-03 06:13] smaharj1 opened #109 "For local development, remove the sendgrid dependency and fallback to nodemailer email using gmail"
**Is your feature request related to a problem? Please describe.**
Currently, if the developer wants to register a new admin account, it doesn't let it do that because sendgrid API keys are needed. Remove this dependency for local, and switch to using an identical `emailService` which uses Nodemailer (Gmail option preferred) since Nodemailer is free. Maybe feature flag this property

**Describe th

[2020-05-03 07:00] gfyre opened #110 "BUG"
**Describe the bug**
Product not removed from cart after order has been placed. The "Order Details" displays some HTML code.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to shopping-webclient (shop.veniqa.com)
2. Select any product and checkout
3. Post a successful checkout, the product is still shown in the cart

**Expected behaviour**
Post a successful checkout, the product should no

[2020-05-03 09:10] gfyre commented on #98
@smaharj1 Apologies for adding multiple issues into one close issue. I'll bear this in mind.

What I meant by "I keep on getting logged out of the dashboard. After some time, it just doesn't allow me to do anything and refreshing the page logs me out." is it logs me out when I am trying to do something. It all of a sudden shows me just "Catalogue" in the left-hand nav and then upon refreshing the

[2020-05-03 15:52] #106 closed, assigned to nobody

[2020-05-03 15:53] #105 closed, assigned to nobody

[2020-05-03 16:58] #110 closed, assigned to nobody

[2020-05-04 03:33] gfyre commented on #102
Once you have logged into the management webclient, you need to head over to "Catalogue" and then click on "Add Catalogue"

[2020-05-04 03:36] #102 closed

[2020-05-05 06:34] gfyre commented on #82
Any updates on this?

[2020-05-06 05:23] smaharj1 commented on #82
We will try to get to it as soon as we can but due to other commitments and day job of all the devs, it will take some time for this. Feel free to grab this issue and raise a PR. Also, are you looking for a certain form of e-commerce implementation?

[2020-05-06 06:32] gfyre commented on #82
@smaharj1 I'll try to work on this and submit a pull request for the same. But I dont think I'll be able to complete it soon. However, I'll surely give it a shot.

[2020-05-08 07:21] gfyre opened #112 "BUG - Management Web-Client Glitch"
**Describe the bug**
The Management Web Client session expires whilst one is using the app. I know that after I find the "Orders" or "Featured Posts" windows are blank. Upon refreshing the page, all I get to see in one option in the Nav. Please refer to the screenshot attached.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "localhost:5202"
2. Log in with SUPERADMIN credentials
3. Try

[2020-05-08 07:24] gfyre opened #113 "Unable to Delete a category"
How do I delete a category or a sub category of a product?

When I try to click on "edit" and just erase the names out, I see the following in my console

<img width="1267" alt="Screenshot 2020-05-08 at 12 40 55 PM" src="https://user-images.githubusercontent.com/23535062/81381798-e8e1fd80-912a-11ea-8cef-41cfde46b202.png">

From this I understand that I cannot leave the text boxes blank.

[2020-05-08 07:34] gfyre commented on #113
Also, when I do add a new category, why doesn't it show up on the home page nav bar (at the top)?

[2020-05-09 17:40] Viveckh commented on #113
- Categories and Subcategories cannot be deleted. You can rename them, but not delete them. It was set up this way to prevent a cascade of null references that might result in products and orders collection where deleted categories are referenced.

- The categories on the top menubar aren't dynamically set and don't render every possible category. It is up to the implementer to override which cate

[2020-05-10 06:32] gfyre commented on #113
@Viveckh Understood. Thanks for the clarifications. I am now closing this issue.

[2020-05-10 06:32] #113 closed, assigned to nobody

[2020-05-12 13:00] gfyre opened #115 "3D Secure Payment - Stripe"
How come a " 3D Secure" Stripe Test card does not work? It shows the following in console:

`POST https://veniqa-client-server-prod.azurewebsites.net/orders/completeCheckoutUsingCard 400 (Bad Request)`

Try using card number "4000 0000 0000 3220"

When checking out, the only thing that is asked is the card number, expiry date and CVV. Why isn't the Name of the CardHolder or any of those details as

[2020-05-13 06:00] gfyre commented on #115
@Viveckh @smaharj1 Please help me out here. Thanks.

[2020-05-17 11:42] AmandaDLyon opened #116 "3D Secure Card Payment"
**Describe the bug**
Hey guys, help me out here...

I am working on a client project for an Indian company and I got the stack running on my local machine with my own API keys. Everything but the payment seems to be working.

When I attempt to checkout, I get the following error:

Now I know what the error means, but why does it show and how would one fix this on your codebase (I just begun workin

[2020-05-17 13:35] smaharj1 commented on #116
Thanks for bringing up this issue. I looked up and I am getting an authentication issue. It is going to take some time for us to look into it, but feel free to go around [these parts](https://github.com/Viveckh/Veniqa/blob/197c6b2af9bba3b2719dc17adbc3c8118f96513e/shopping-server/services/orderService.js#L206) to try to debug it if you would like to contribute to have a quick fix.

[2020-05-17 13:38] smaharj1 commented on #112
I wasn't able to reproduce this issue. One issue might be that you are trying to edit the existing products. Currently, editing products depend on S3. Since we aren't allowing the local environment to S3, please try it with new products.

[2020-05-17 13:49] gfyre commented on #112
Hey @smaharj1 I'll try setting up my own S3 and then reopen this thread if the issue still persists. Thanks.

[2020-05-17 13:49] #112 closed, assigned to nobody

[2020-05-17 13:54] gfyre commented on #116
@AmandaDLyon you are receiving the following error because your Stripe Account may have been set up with India as you Account's location. Change that to the United States to make this error go away.

As for 3D secure, I am facing the same issue and I think that it might have something to do with [this part](https://github.com/Viveckh/Veniqa/blob/bd62d175f49f9cd0d04b3551ce4d38e4ef50ee61/management-

[2020-05-17 15:02] Viveckh commented on #115
Hey @gfyre,
Are you trying this on the demo site or your own local instance of the app? I'm going to assume it's the demo site since the requests are being redirected to our demo server.

And are you using test Stripe API keys or production ones? The payment is handled through Stripe, so if other cards are passing payments but this particular one is failing, then we probably won't be of any help h

[2020-05-17 15:18] Viveckh commented on #116
Hey @AmandaDLyon, good to know you're adopting Veniqa for your use case!

Regarding the `As per Indian regulations...` error, @gfyre is spot on about that.

And as per the 3D Secure payment, the reason the payments aren't going through is because of the fact that 3D Secure card payments require an additional level of authentication which typically requires the user to be redirected to the authenti

[2020-05-17 15:23] Viveckh commented on #115
Also some additional insights [here](https://github.com/Viveckh/Veniqa/issues/116#issuecomment-629814482), which might be helpful.

[2020-05-17 15:35] gfyre commented on #115
Hey @Viveckh, the card that I mentioned was a test card I found over on Stripe's website. It requires authentication for a payment to go through

I tried running Veniqa on a local instance with my Stripe Test keys and the issue is the same.

The cards which do not require 2 step authentication go through just fine however its the cards that require 2 step Auth that are causing a problem (countries

[2020-05-17 15:40] Viveckh commented on #115
Yes, so Multi-Step Auth for payments isn't something supported on the platform currently, so you'd have to implement that by updating the payment flow on the `shopping-webclient` to account for that, as I outlined in the link above.

[2020-05-17 15:51] AmandaDLyon commented on #116
@Viveckh I don't know if I'd need 3D Secure but it seems like Indian Banks require support for MFA and it would be necessary for me to implement it.

 It would be much better if guys could do this as it would be a lot quicker if the guys who made this platform integrated it. I know its asking a lot but it would mean a lot if you could make it happen...

[2020-05-17 15:52] AmandaDLyon commented on #116
I couldn't help but notice, when you are in the Order window, you would see `Stripe AUTHORIZATION`

What does that mean exactly?

[2020-05-17 23:26] Viveckh commented on #116
@AmandaDLyon Hey Amanda! At the moment, we're only doing bugfixes and patches for the platform, due to our limited bandwidth and commitment to other projects. If you'd like a custom enhancement for your use case from one of us original developers, it is still available as a premium service. You can find out more about that by [emailing us](mailto:veniqademo@gmail.com).

[2020-05-18 06:00] gfyre commented on #115
@Viveckh could you help me out by directing me to the files where I'd implement it. That would save me some time.

Thanks.

[2020-05-18 06:02] gfyre commented on #116
@AmandaDLyon I am going to attempt to add PaymentIntent which would allow 3D secure to work. Once I have successfully implemented and tested it, I'll submit a PR and you can take it ahead from there.

[2020-05-19 15:14] AmandaDLyon opened #117 "New order does not show in admin dashboard"
**Describe the bug**

When a new order is placed, it does not show up in the Admin dashboard.

**To Reproduce**
Steps to reproduce the behavior:
1. Place a new order
2. Sign into dashboard
3. The new order does not show

**Expected behavior**

The order must show on the dashboard and I should be able to filter between the condition of the order. As in, completed orders should be separated from pen

[2020-05-19 15:16] AmandaDLyon commented on #116
Hey @Viveckh, a premium service won't be possible for me at the moment however (since this is my first project as a freelancer). I will try the implementation myself and hopefully @gfyre is able to make 3D secure work.

However, if absolutely needed, I will consider taking you up on your service.

Thanks for offering it though.

Could you also assist me on

Cheers!

[2020-05-20 03:35] smaharj1 commented on #117
I believe this is because of the pagination feature on the Orders page. There are probably more than 10 orders already made. This feature is yet to be developed from web application side.

About deleting your super admin account in **local**, you can make changes in Featured section of the admin dashboard, but you can't save it. We decided to enable this to showcase the application's dashboard sid

[2020-05-20 04:27] Viveckh commented on #115
@smaharj1 would be the best person to answer this, since it's on the webclient.

[2020-05-20 05:43] AmandaDLyon commented on #117
@smaharj1 so what would be the work-around to the pagination issue? Is it possible for me to simply lift how many orders can be seen on one page?

And once an order is marked as completed/fulfilled, where does it go? What happens to it?

[2020-05-20 14:04] smaharj1 commented on #117
@AmandaDLyon the api capability is there. Only the UI doesn't have 'next page'/'previous page' functionality. You can simply accomplish this by adding pagination and when you make api calls to get orders, give paging info.

[2020-05-23 23:58] #117 closed, assigned to nobody

[2020-05-24 00:03] Viveckh commented on #116
@AmandaDLyon
If you are referring to the `Stripe Authorization` within the order details page, then that refers to a Stripe payment has been authorized but the card hasn't been charged yet. When an admin confirms a customer order (assuring that the order can be fulfilled), the card gets charged then. 1

[2020-05-24 03:20] #96 closed

[2020-05-30 12:31] deepakfordeep opened #121 "getting error during installation"
Hello
I am trying to install in local but getting error on shopping-server
E:\veniqa\shopping-server\node_modules\winston-mongodb\lib\winston-mongodb.js:55
    throw new Error('You should provide db to log to.');
Screenshot is here : http://prntscr.com/sqm6ad
Please guide

[2020-06-01 12:58] gfyre commented on #121
The error essentially states that it isn't able to find or connect to your database

You need to make sure of the following things:-

1. The `env.developement` or `env.production` files are filed as outlined in the  [env.format](https://github.com/Viveckh/Veniqa/blob/develop/shopping-server/.env.format)

2. Your mongo db instance (local or on cloud) is actually running

3. Your mongo db credential

[2020-06-01 13:00] gfyre commented on #115
@smaharj1 Could you please advice where to insert the code for Stripe MFA (PaymentsIntent)?

Thanks.

[2020-06-01 16:04] smaharj1 commented on #115
@gfyre please follow the trails of `PaymentDetail.vue`

[2020-06-19 09:42] gfyre opened #124 "BUG: Issue with Safari not passing cookie/session info"
**Describe the bug**
Platform sort of crashes when using on iOS web browsers. Checked on Safari, Chrome, Google App, Cake and Opera Touch

**To Reproduce**
Steps to reproduce the behavior:
1. Go to shop.veniqa.com
2. Login or Sign Up
3. Try adding a product to cart (at this point, nothing will happen)
4. Refresh the page (at this point, you will be logged out)

**Expected behavior**
It should work

[2020-06-20 04:59] AmandaDLyon commented on #124
@Viveckh @smaharj1 Hey guys, I see that you have fixed the pagination issue on the management platform. Thanks for that.

I checked for the issue that @gfyre has mentioned and it turns out that I am facing it as well.

[2020-06-20 16:02] smaharj1 commented on #121
I believe this has been resolved.

[2020-06-20 16:02] #121 closed, assigned to nobody

[2020-06-20 16:04] smaharj1 commented on #124
The issue seems to be causing due to local storage. Opening up this bug ticket for anyone to grab it.

[2020-06-20 17:01] gfyre commented on #124
This might not be a local storage issue. It seems that the request is unauthorised (Code 401). Refer to the screenshot. Might help with fixing the bug. This is the JS Console in Safari running on MacOS.

<img width="1277" alt="Screenshot 2020-06-20 at 10 29 20 PM" src="https://user-images.githubusercontent.com/23535062/85207323-9c065f00-b345-11ea-976a-dffbaab9cd45.png">

[2020-06-20 17:14] smaharj1 commented on #124
@gfyre thanks. Yes. It is because for some reason Safari doesn't pass session info through every request.

[2020-06-20 18:29] gfyre opened #125 "Re-routing to last open URL upon login"
**Describe the bug**
When clicking on "Login" after clicking on "Add to cart", post logging in, the user is redirected to the home page
**To Reproduce**
Steps to reproduce the behavior:
1. Go to any product (without signing in0
2. Click on "Add to Cart" and then login by clicking the button on the prompt
3. Login with your credentials
4. You will then be redirected to the login page

**Expected be

[2020-06-20 18:30] gfyre commented on #124
@smaharj1 so what can be done here? how would you fix this?

[2020-06-22 05:31] AmandaDLyon commented on #125
I was going to report this very bug @gfyre !

@Viveckh is there a reason why this happens?

[2020-06-22 05:33] AmandaDLyon commented on #124
@smaharj1 is there a fix for this issue?

[2020-06-22 05:35] AmandaDLyon commented on #124
https://stackoverflow.com/questions/60020416/axios-requests-using-authentication-token-sometimes-fail-in-safari

This might help

[2020-06-22 08:07] gfyre opened #126 "Visual Bug"
**Describe the bug**
Some minor alignment issues

**To Reproduce**

Refer to the screenshots

**Expected behavior**

The "Order Details" should be fully visible (in the first image) and the product images along with the Veniqa logo must be aligned to the centre of the screen (in the second image)

**Screenshots**

<img width="271" alt="Screenshot 2020-06-22 at 1 24 04 PM" src="https://user-images.

[2020-06-22 18:33] smaharj1 commented on #126
Thanks for bringing this to attention

[2020-06-22 18:34] smaharj1 commented on #125
Right now, we are not tracking the history of the last open URL. It would be a cool feature though.

[2020-06-22 18:37] smaharj1 commented on #124
@AmandaDLyon I'll have to look into this.

[2020-06-23 14:41] #126 closed, assigned to smaharj1

[2020-06-24 10:17] gfyre opened #128 "Visual Bug"
**Describe the bug**
After adding a new address and clicking on save, the text fields are still there. Also, (a rather minute one), the "save" and "cancel" button aren't aligned.

**To Reproduce**
Steps to reproduce the behavior:
1. On the checkout page, try adding a new address or editing an existing one
2. Click on Save
3. The text boxes are still present at the bottom.
4. And while you are ther

[2020-06-26 16:49] AmandaDLyon commented on #116
@Viveckh @smaharj1 I have been dabbling around with Stripe and it turns out that 3D secure runs over a different Stripe API (Payment Intent API) whereas Veniqa uses Stripe Charges API.

Implementing 3D secure would hence require edits to the Webclient-Server as well.

Refer to [this](https://stripe.com/docs/payments/payment-intents/migration)

[2020-06-26 16:52] AmandaDLyon commented on #115
@gfyre refer to this #116

[2020-06-27 19:50] Viveckh commented on #124
We've noticed this previously and there is a pending issue for it #10

It seems to happen because of iOS blocking cross-domain requests when the API endpoints and the frontend belong to two different domains. For our demo sites, the frontend domains are in the form *.veniqa.com whereas the API endpoints are in the form *.azurewebsites.net. And by default, iOS seems to block session info from being

[2020-07-02 06:27] gfyre commented on #128
@smaharj1 @Viveckh any updates on this?

[2020-07-02 06:29] gfyre commented on #116
Hey Amanda, I've looked at Stripe Migration documents and am trying to implement Payment Intents API into Veniqa. However, I have hit a snag. I'll keep you @Viveckh and @smaharj1 updated upon when I am done implementing and testing the same.

[2020-07-02 13:00] smaharj1 commented on #128
Let me try to get this done this weekend.

[2020-07-03 10:31] AmandaDLyon opened #129 "Mongo DB"
Hey guys, I know that the first way to get the platform started is by using "docker-compose up" however what I have been trying to do is start up the individual code bases.

Now after a lot of attempts, I realized that when you start the whole stack through docker, it creates a local Mongo instance on port 27000 which is otherwise not accessible.

So if I want to use Mongo Atlas or say run the pla

[2020-07-03 14:43] smaharj1 commented on #129
You can actually access your Docker mongo instance by locally accessing port 27000. However, if you want to use your own Mongo Atlas, you just need to change the Mongo URL in the environment file. Please refer to [this document](https://documentation.veniqa.com/servers/environment-file-format.html) for more info on how to do so.

[2020-07-03 15:13] AmandaDLyon commented on #129
@smaharj1 So that I am aware of. Now here's what's happening. I see the collections have been created on my Atlas however those collections are empty. However, only after I have initialized the Veniqa Docker Container (docker-compose up), I am able to access Mongo on port 27000 and see the collections with documents in them.

If I do not start the platform using docker, I get a Winston JS error st

[2020-07-03 15:57] smaharj1 commented on #129
The winston error is the desired behavior. If you want to directly connect to Atlas, please change/add the URL of Atlas in `.env` file in your server project. That way you don't have to run docker at all. Docker is not essential for running the application. We created it later to consolidate all the apps in one run. You can run everything separately by just switching to `.env` files in your indivi

[2020-07-03 16:09] AmandaDLyon commented on #129
So I have populated the .env file in management-webclient and management-server with the necessary credentials and I have renamed the file to .env.development.

Post these steps, I am receiving the Winston error.

What did you mean by "switching to .env files in your individual projects." Have I missed something?

[2020-07-03 17:53] smaharj1 commented on #129
Can you rename it to `.env` (without .development) and try? No. You didn't miss anything

[2020-07-04 08:39] AmandaDLyon commented on #129
I have now changed the file name to just `.env` and I now see the following in my terminal: -

<img width="562" alt="Screenshot 2020-07-04 at 2 06 34 PM" src="https://user-images.githubusercontent.com/65491209/86508669-93129480-bdff-11ea-93f3-a48887deacf0.png">

However `localhost:4202` cannot be connected to. It seems like the API is offline (it's a guess since if I go to `localhost:4202` it says

[2020-07-04 08:41] AmandaDLyon commented on #129
This issue of mine still stands. I am weirded out by how none of this problems arise when the whole platform is set up using docker.

[2020-07-04 15:17] smaharj1 commented on #129
I see that in `/bin/www`, the port number is 3000. Please call `localhost:3000` to get successful calls. The port is only 4202 if you are doing through Docker. If you want to change the port locally, you can either pass an environment variable `PORT` in `.env` file or change the default port in `/bin/www`.

[2020-07-05 09:14] AmandaDLyon commented on #129
I changed the AWS info in the `.env` file to my account's creds and also updated the `config/default.json` to match the location.

Along with that I went into my AWS S3 account and made the bucket public to see if that is causing the issue. Doing so also made no difference. What should I be doing here?

<img width="889" alt="image" src="https://user-images.githubusercontent.com/65491209/86529189-4

[2020-07-05 09:15] AmandaDLyon commented on #129
I made this change and tried accessing localhost:3000 through my browser and it is stuck in an endless "loading" state.

[2020-07-06 10:37] AmandaDLyon commented on #129
I have been trying like crazy and I keep getting Error Code 403 Forbidden when I attempt to upload images to my S3. It seems to be caused because of some CORS error.

@Viveckh maybe you could help me out here since it is a backend task.

This is one of the errors :

`Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at... (url to the bucket)`

and then I se

[2020-07-07 03:45] smaharj1 commented on #129
I think the problem here is the bucket policy. As you can see from your code, only `GET` method is allowed. Maybe [this](https://stackoverflow.com/questions/35819303/amazon-s3-bucket-policy-for-uploading-and-viewing-pictures) can help you set the bucket policy.

[2020-07-07 09:22] AmandaDLyon commented on #129
@smaharj1 I finally got S3 to work. Below is the Bucket Policy I set:

[code]

and this is the CORS config that I used:

[code]

[2020-07-07 09:27] AmandaDLyon commented on #129
Now that I am able to upload images to my S3, upon saving the new product, the management-server logs on my terminal show me the following error:

<img width="1207" alt="Screenshot 2020-07-07 at 2 53 37 PM" src="https://user-images.githubusercontent.com/65491209/86758712-aae95300-c061-11ea-9c45-6fd1281c337c.png">

Not sure what's causing this.

Also, in my S3, I am seeing all the images that I had

[2020-07-07 14:16] smaharj1 commented on #129
@AmandaDLyon what do you get in the API response for this? Specifically trying to look at `errorDetails` in response.

[2020-07-07 14:56] AmandaDLyon commented on #129
@smaharj1 Its a Code 500 (Internal Server Error).

[2020-07-07 14:56] AmandaDLyon commented on #129
<img width="1117" alt="Screenshot 2020-07-07 at 8 26 12 PM" src="https://user-images.githubusercontent.com/65491209/86799921-1a763700-c090-11ea-92db-bc688c9307f0.png">

[2020-07-08 07:22] AmandaDLyon commented on #129
@smaharj1 I re-installed the whole platform after running `docker system prune -a` and then running `docker-compose up` thinking maybe this might fix the issue, however that did not help.

Could you attempt to add or edit an existing problem to check if the issue persists on your end as well. Ideally it shouldn't. I am wondering if this is a bad config on my local machine. Maybe permissions issue.

[2020-07-09 07:20] AmandaDLyon opened #132 "Cannot Add/Edit a product"
**Describe the bug**
In the management platform, when trying to add or edit a product, the images are successfully uploaded (in the S3 bucket), however, the product does not get added to the database. Refer to the screenshots below to get an understanding of the errors.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the management webclient
2. Try adding a product or editing the text

[2020-07-09 07:22] AmandaDLyon commented on #129
@smaharj1 I feel like this issue needs to be separated from this discussion thread as the topics aren't the same. Please refer to and provide a solution at #132.

Thanks buddy!

[2020-07-09 08:44] gfyre commented on #124
@Viveckh I setup everything on a local environment and tested an entire cycle that a customer would follow in order to make a purchase on Safari.

I can confirm that running the front-end and the server side API on the same domain does indeed fix this issue.

Thanks for making us aware about this solution.

If you'd like, you can close this issue or leave it pinned for any other user to refer to.

[2020-07-09 08:47] gfyre commented on #132
@AmandaDLyon I actually had never tried to add or edit a product in through the dashboard. However, I just took a look at it and I am facing the same issue.

@Viveckh I think that this is quite a pressing issue. Could it be the S3 bucket policies or CORS causing this issue.

It seems like circular-json is failing or is misconfigured. Can you check to see if the same issue persists on your end?

I

[2020-07-09 16:01] #129 closed, assigned to nobody

[2020-07-10 17:20] AmandaDLyon commented on #132
@smaharj1 @Viveckh Any solution or suggestion guys? I am really really looking forward to your help!!

[2020-07-10 19:27] #128 closed, assigned to nobody

[2020-07-10 19:29] #124 closed, assigned to nobody

[2020-07-10 19:30] Viveckh commented on #10
Refer to #124

[2020-07-10 19:30] #10 closed

[2020-07-11 10:30] AmandaDLyon commented on #132
@smaharj1 @Viveckh this is actually funny. The error exists only when you are adding or editing a product. However, the action that you were trying to do would actually happen.

For example, if you are adding a product, it will show an error, but then the product is actually added to the catalogue. Same goes for editing a product.

What needs to be done here?

[2020-07-11 15:26] AmandaDLyon commented on #132
So now that I am sort of able to upload a product (although that weird-ass issue needs to be fixed), the issue is now on the shopping-client where the images don't load. I get a Code 301, which is basically saying that the image has been Moved Permanently.

@smaharj1 @Viveckh what can I do here? Somehow, after changing the bucket URL (I am using ap-south-1), it is still able to load the veniqa buc

[2020-07-29 11:04] AmandaDLyon opened #137 "Order Recieved Email"
Hey, can you guys share your sendgrid template for an Order Recieved email. I cant seem to get the email to display the order information properly.

What I want is the code you have placed inside of Sendgrid's dynamic template. @smaharj1 @Viveckh

Cheers!

[2020-07-31 11:03] gfyre commented on #116
@smaharj1 @Viveckh I have managed to migrate the backend to the Payment Intents api. Essentially go into orderService.js

and under `const chargeObj` in `completeCheckoutUsingCard`, replace that bit of code with the following:

[code]

Now what needs to be done next is to take the `client-secret id` which is generated by the `payment intent` we created above needs to be made accessible on the clie

[2020-07-31 11:03] gfyre commented on #116
I need one of you to help me out with this bit

[2020-07-31 11:06] gfyre commented on #82
@smaharj1 @Viveckh I have changed the `add-to-cart` flow a bit where when a new (non-existing) user clicks on `add-to-cart`, the pathname of the page is saved to localstorage and once they have signed-up or signed-in, they will be pushed back to this very page.

This is working but I cannot submit a pull request because I have made way to many changes to the UI and some to the backend.

[2020-07-31 11:15] gfyre commented on #82
@Viveckh or @smaharj1 one of you can submit a pull request. Here's the code:

1. In shopping-webclient/src/components/product-detail/ProductDescription.vue:

Right under:
https://github.com/Viveckh/Veniqa/blob/80feecfca638f2dded0538908b29ca7c42670f68/shopping-webclient/src/components/product-detail/ProductDescription.vue#L109

add
`var Url= window.location.pathname;`

and under this line:

https:/

[2020-08-02 14:41] AmandaDLyon commented on #116
@Viveckh @smaharj1 I have emailed you on this address. Please take a look. Thanks.

[2020-08-19 01:07] #137 closed, assigned to Viveckh

[2020-08-19 01:09] smaharj1 commented on #132
The issue you are seeing is most probably with communication with S3. Look into bucket policies and who can access the bucket.

Sorry for not replying earlier. All the founders of this involved in multiple projects. So, this has been kind of in a back burner

[2020-08-19 01:21] Viveckh commented on #137
Hi @AmandaDLyon, sorry about the delay. The SendGrid email templates are now available on the `setup-resources/sendgrid_email_templates` folder. Accompanying documentation on how to go about using it, along with how to implement a different email service provider is also now available on the [documentation site.](https://documentation.veniqa.com/email-setup/email-setup.html)

[2020-08-19 02:09] Viveckh commented on #132
I made a bucket policy update for images and also hosted our demo servers in the same domain as the frontends. With this, the product add/edit seems to function flawlessly in our demo sites. The circular json issue still needs addressing if it persists, but I did not notice that error on the live version during test.

There's [a new documentation update here](https://documentation.veniqa.com/) if

[2020-08-19 02:52] #132 closed, assigned to Viveckh

[2020-08-19 06:40] Viveckh commented on #124
UPDATE: The Veniqa demo servers are now hosted on the same domain as the frontend. With that, the issue of session cookies not being passed is resolved. Since chrome seems to have introduced a similar breaking change of disallowing cross-domain cookies, it is highly recommended for any developers adopting Veniqa to host all the components in the same domain moving forward.

[2020-09-01 06:06] AmandaDLyon opened #143 "Deploying to Production"
**Describe the bug**
I am not able to upload the site to a domain name. It does not load anything. How do I push this to a public server?

I am running the whole thing as a docker container and then I have NGINX installed on my server for reverse proxy.

@Viveckh @smaharj1

[2020-09-01 06:07] AmandaDLyon commented on #116
I managed to get 3D secure to work. Soon I'll submit a pull request. @smaharj1 @Viveckh

[2020-09-01 15:07] smaharj1 commented on #143
I am not quite sure what you are doing for your deployment. How you deploy totally depends on you. For web applications, you can use nginx or even S3 if you want since its just set of static files.

For server, you just need to run the servers and expose that port. If you want nginx, that is fine too. Just make sure that when you deploy, your servers run and domains are connected to correct ports.

[2020-09-01 15:09] smaharj1 commented on #116
Awesome! That'd be a great help. If possible make sure the PR explains what you did to make it work.

[2020-09-01 15:44] AmandaDLyon commented on #143
@smaharj1 So I have simply put all my code on a server and run docker-compose up then I installed NGINX and reverse proxy'd ports 5201 and 5202 to point to demo.com and admin.demo.com

I am not sure how to build for production. How do you deploy this to the internet?

I see that in management-webclient and in shopping-webclient, there is a file called vue.config.js in which there are paramenters c

[2020-09-01 15:46] AmandaDLyon commented on #116
@smaharj1 Once I have launched my clients project, I'll implement my solution into Veniqa submit a pull request along with what I did to make it work.

However, basically, these are the steps to follow:

Stripe 3DS SCA integration needs to be done on the Client and Server end. Below are the steps in general:

1. Create a paymentIntent (ID essentially) on the server when the client is on the checko

[2020-09-03 04:28] Viveckh commented on #143
So ideally if you are deploying in prod, it might be a wise idea to decouple the components of the application and deploy them separately. The docker-compose one-command startup was put together for developers to quickstart, so it might not be entirely thought-through for production use.

For example - this is how we deploy our demo sites.
* The web clients for shop.veniqa.com and admin.veniqa.com

[2020-09-15 22:43] AndrewMcSwain commented on #143
@AmandaDLyon keep us posted about your progress, and if you don't mind post the link to your work when it goes to production!

[2020-11-27 18:41] sai-koumudi opened #147 "Admin Login Credentials"
![Screenshot (846)](https://user-images.githubusercontent.com/72659783/100477390-31d0c200-310e-11eb-817f-58772c96d3e0.png)
I've gone through the document and added the necessary keys in the .env.format file. I was somehow unable to login with the demo admin credentials provided in the document. (Email: veniqademo@gmail.com, Password: pass$12)

Also, the deployed one has the same issue (https://adm

[2020-12-01 01:25] jbonnett92 opened #148 "Lots of deprecated packages"
Hi,
Can you please update the packages, there are a lot that are deprecated.

I think it is also causing issues with being able to fill in forms.

Thanks,
Jamie

[2020-12-05 16:34] smaharj1 opened #149 "BUG"
**Describe the bug**
Update the old packages

[2020-12-05 16:34] smaharj1 commented on #148
We will be doing that soon. Thanks!

[2020-12-09 12:48] vipuluthaiah commented on #147
i am too facing same
issue

[2020-12-10 02:23] Viveckh commented on #147
Hey guys, there were some issues in the live demo site due to our SSL certificates expiring.
It is addressed now, so you should be able to use the demo site.

I am working on a db migration to Mongo Atlas due to the closure of Mlab.com, so you might experience a little downtime for a day or two on the live demo.

P.S. The credentials you have included up there is only applicable for the live demo

[2020-12-10 04:32] Viveckh commented on #149
Done!

[2020-12-10 04:32] #149 closed, assigned to smaharj1, Viveckh

[2020-12-10 04:34] Viveckh commented on #148
Addressed in PR #150

[2020-12-10 04:34] #148 closed, assigned to nobody

[2020-12-25 02:36] #147 closed, assigned to nobody

[2020-12-25 04:33] #125 closed, assigned to nobody

[2021-02-09 13:53] DaveLomber opened #162 "Feature request: Register as a seller"
Hi everyone,

could you please clarify is it possible to Register as a seller in the Veniqa

If not - do you have any plans to add this feature?

Thank you in advance

[2021-02-09 15:07] smaharj1 commented on #162
Currently, this feature is not available. We do not have a set plan about this, but with enough support and contributors, I don't see why that's not possible.

[2021-06-28 05:05] #115 closed, assigned to nobody

[2021-08-19 02:12] Novizh opened #182 "Empty database, how am I supposed to login on my local env?"
Hello, I'm trying to implement Veniqa for my personal project, but upon setting up, I stumbled upon the documentation that said ``` Default login as SUPERADMIN is available by default.``` All the veniqa-db schemas are present in my local environment but the database is empty, so I cannot login with default users. Any hints?

[2021-08-19 04:29] Novizh commented on #182
Turns out I didn't notice there was a daatabase dump in the repo. Alright, restoring it now with mongorestore.

[2021-08-19 04:29] #182 closed, assigned to nobody

[2022-08-29 05:15] mentamarindos opened #207 "Demo admin panel credentials not working"
I want to try the demo admin panel but this credentials doesn't work

` veniqademo@gmail.com`
` pass$12`

I got the msg error: User credentials are not correct. Please try again

[2022-09-15 04:18] rikai-v-thai opened #208 "BUG <Config docker> Docker compose up error E11000 duplicate key error collection"
**Describe the bug**

I. used command :

docker-compose up

Error has been display, please check your config docker.

continuing through error: E11000 duplicate key error collection: veniqa-prod-db.veniqa_product_categories index: _id_ dup key: { _id: ObjectId('5c45e87fa8ef66002b9e073b') }
veniqa-mongo-1                 | 2022-09-15T04:16:14.562+0000	continuing through error: E11000 duplicate key

[2022-11-30 09:10] marielevrau opened #209 "BUG: docker-compose up dependency issue: cannot resolve axios@"^0.16.2”"
I'm trying to do a quickstart of Veniqa with docker by using docker-compose up in the cloned folder.
This results in a dependency issue: cannot resolve axios@"^0.16.2”.
I have already tried different versions, but with no result.

![image](https://user-images.githubusercontent.com/47709778/204753835-d8e69b0b-2136-4690-b8c7-5f02958237b8.png)
![image](https://user-images.githubusercontent.com/477097